/* Стили для заголовка */
.portfolio-header {
  background-color: #808080;
  padding: 20px;
  text-align: center;
}

.portfolio-header h1 {
  color: #fff;
}

/* Стили для галереи изображений */
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px; /* Уменьшили отступ сверху */
}

.gallery a {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  position: relative;
}

.gallery a:hover {
  transform: scale(1.05);
}

.gallery img {
  display: block;
  width: 200px;
  height: auto;
}

.gallery .image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery a:hover .image-text {
  opacity: 1;
}

/* Стили для контейнера с ответом модели */
#model-response-container {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#model-response {
    font-size: 16px;
    color: #333;
}

/* Анимация для изменения цвета фона в зависимости от статуса */
#model-response-container.success {
    background-color: #5cb85c;
    color: #fff;
}

#model-response-container.error {
    background-color: #d9534f;
    color: #fff;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
